body
{
	padding-top: 70px;
	 
}
/*-------------------------------------------- Begin  Nav style */
/* main navbar */
.navbar
{
	    min-height: 70px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
    background-color: #f87678;
}
/*  Active Link */
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover , .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
{
	background-color: #f87678;
}
/*  navbar Link And Brand Link*/
.navbar-inverse .navbar-nav>li>a , .navbar-inverse .navbar-brand
{
	color: #BBB;
}

/*  dropdown and dropdown menu link*/
.dropdown-menu>.cnt>a
{
	color: #000;
	padding: 6px 20px;

}
.dropdown-menu{
	border-top:3px solid #f87678;
	background-color: #fff;
	padding-top:0px;
	padding-bottom: 0px;
	min-width: 205px;
}


.dropdown-menu>.cnt>a:focus, .dropdown-menu>.cnt>a:hover
{
	color: #fff;
	padding-left: 35px;
	-webkit-transition:padding-left .4s ease;
	 transition:padding-left .4s ease;
	-o-transition:padding-left .4s ease;
	-moz-transition:padding-left .4s ease;

}

.dropdown-menu .divider
{
	background-color: #f87678;
}

.navbar-right .dropdown-menu
{
	right: auto;
	left: 0;
}

.navbar-nav>li>a
{
	padding-top: 32px;
   	padding-bottom: 32px;
}

.navbar-brand
{
	font-size: 30px;
    line-height: 4px;
   font-family: 'Vampiro One', cursive;


}
.navbar-toggle {
	margin-top: 17px;
	}

	.navbar-nav>li>a
{
	font-size: 16px;
}

.navbar-brand span
{
	color: #f87678;
}


/* Link title In dropdows menu */

.dropdown-menu .title
{
background-color: #615e5e;

}
.dropdown-menu .title a
{
color: #fff;

}
.res li
{
    list-style-type: none;
}

.res li a i
{
	color: #f87678;
	font-size: 20px;
    transition: all 0.5s ease 0s;
    

}

.res li a i:hover 
{
	color:#a73b3d ;

    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}


#
/* ------------------------------ carousel style ---------------- */


.carousel {
  height: 500px;
  margin-bottom: 100px;
}
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}


/*end carousel style */



#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.navbar-right .dropdown-menu
{
	    right: 0;
    left: auto;
}


/*-------------------------------------------- end Nav style */

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
.drop1
{
	background-color: #fff;
}

.row
{
	padding-top: 15px;
}


/*begin search style*/

.search {
    margin-top: -25%;
}
.search .form-section{
    background:rgba(0,0,0,0.2);
    border: 2px solid #414141;
    border-radius: 5px;
    padding: 10px;
}

.search .form-section a:hover
{
    text-decoration: none;

}

/*end style search*/

/*---------------------------------- Begin style jumbotron ------------------------- */

.jumbotron
{
        margin-top: 128px;

}

.jumbotron h1 span
{
    color: #f87678;
}
/*---------------------------------- End style jumbotron ------------------------- */



/*---------------------------------- begin style Nos Mariée ------------------------- */


    @import url(//fonts.googleapis.com/css?family=Lato:400,900);
    @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
   
    .animate {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .info-card {
        width: 100%;
        border: 1px solid rgb(215, 215, 215);
        position: relative;
        font-family: 'Lato', sans-serif;
        margin-bottom: 20px;
        overflow: hidden;
         max-width: 100%;
        max-height: 100%;
    }
    .info-card > img {
        width: 100px;
        margin-bottom: 120px;
       
                        background-size: cover;
width: 500px;
height: 300px;
    }
    .info-card .info-card-details,
    .info-card .info-card-details .info-card-header  {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -100%;
        left: 0;
        padding: 0 15px;
        background: rgb(255, 255, 255);
        text-align: center;
    }
    .info-card .info-card-details::-webkit-scrollbar {
        width: 8px;
    }
    .info-card .info-card-details::-webkit-scrollbar-button {
        width: 8px;
        height: 0px;
    }
    .info-card .info-card-details::-webkit-scrollbar-track {
        background: transparent;
    }
    .info-card .info-card-details::-webkit-scrollbar-thumb {
        background: rgb(160, 160, 160);
    }
    .info-card .info-card-details::-webkit-scrollbar-thumb:hover {
        background: rgb(130, 130, 130);
    }           

    .info-card .info-card-details .info-card-header {
        height: auto;       
        bottom: 100%;
        padding: 10px 5px;
    }
    .info-card:hover .info-card-details {
        bottom: 0px;
        overflow: auto;
        padding-bottom: 25px;
    }
    .info-card:hover .info-card-details .info-card-header {
        position: relative;
        bottom: 0px;
        padding-top: 45px;
        padding-bottom: 25px;
    }
    .info-card .info-card-details .info-card-header h1, 
    .info-card .info-card-details .info-card-header h3 {
        color: rgb(62, 62, 62);
        font-size: 22px;
        font-weight: 900;
        text-transform: uppercase;
        margin: 0 !important;
        padding: 0 !important;
    }
    .info-card .info-card-details .info-card-header h3 {
        color: rgb(142, 182, 52);
        font-size: 15px;
        font-weight: 400;
        margin-top: 5px;
    }
    .info-card .info-card-details .info-card-detail .social {
        list-style: none;
        padding: 0px;
        margin-top: 25px;
        text-align: center;
    }
    .info-card .info-card-details .info-card-detail .social a {
        position: relative;
        display: inline-block;
        min-width: 40px;
        padding: 10px 0px;
        margin: 0px 5px;
        overflow: hidden;
        text-align: center;
        background-color: rgb(215, 215, 215);
        border-radius: 40px;
    }

    a.social-icon {
        text-decoration: none !important;
        box-shadow: 0px 0px 1px rgb(51, 51, 51);
        box-shadow: 0px 0px 1px rgba(51, 51, 51, 0.7);
    }
    a.social-icon:hover {
        color: rgb(255, 255, 255) !important;
    }
    a.facebook {
        color: rgb(59, 90, 154) !important;
    }
    a.facebook:hover {      
        background-color: rgb(59, 90, 154) !important;
    }
    a.twitter {
        color: rgb(45, 168, 225) !important;
    }
    a.twitter:hover {
        background-color: rgb(45, 168, 225) !important;
    }
    a.github {
        color: rgb(51, 51, 51) !important;
    }
    a.github:hover {
        background-color: rgb(51, 51, 51) !important;
    }
    a.google-plus {
        color: rgb(244, 94, 75) !important;
    }
    a.google-plus:hover {
        background-color: rgb(244, 94, 75) !important;
    }
    a.linkedin {
        color: rgb(1, 116, 179) !important;
    }
    a.linkedin:hover {
        background-color: rgb(1, 116, 179) !important;
    }

  .price_table1
  {
    background-color: #EEE;
  }


/*---------------------------------- End style Nos Mariée ------------------------- */

#btn_jumbotrone:hover
{
background-color: #f87678;
                color: #ffffff;
                border: 2px solid #f87678;
                transition:all .5s ease;

}
#btn_jumbotrone
{
    background-color: #fff;
    color: #333;
    border: 2px solid #f87678;
}




/* ------------------------------ price table ------------- --*/
.pricingTable{
    text-align: center;
    background: #e6e6e6;
}
.pricingTable:hover{
    margin-top: 10px;
}
.pricingTable > .pricingTable-header{
    color:#fff;
}
.pricingTable .pricingTable-header > .heading{
    display: block;
    padding: 20px 0;
    background: #ed687c;
}
.pricingTable .pricingTable-header > .heading > h3{
    margin: 0 0 12px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.pricingTable .pricingTable-header > .heading > h4{
    margin: 0 0 12px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.pricingTable .pricingTable-header > .heading > i{
    font-size: 70px;
    opacity: 0.5;
}
.pricingTable .pricingTable-header > .price-value{
    display: block;
    background: #ed687c;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 47px;
    font-weight: bold;
}
.pricingTable .pricingTable-header > .price-value > .month{
    display: block;
    font-size: 14px;
}
.pricingTable > .pricingContent{
    text-transform: capitalize;
}
.pricingTable > .pricingContent > ul{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.pricingTable > .pricingContent > ul > li{
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.pricingTable > .pricingContent > ul > li:after{
    content: "";
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:-100%;
    background: #b6b6b6;
    z-index: -5;
    transition: all 0.4s ease 0s;
}
.pricingTable > .pricingContent > ul > li:hover:after{
    left:0;
    transition: all 0.4s ease 0s;
}
.pricingTable .pricingTable-sign-up{
    padding: 20px 0;
}
.pricingTable .pricingTable-sign-up > .btn-block{
    padding: 15px 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0px;
    border: 1px solid #ed687c;
    color: #ed687c;
    background: #e6e6e6;
    position: relative;
    transition: all 0.6s ease 0s;
}
.pricingTable .pricingTable-sign-up > .btn-block:before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:0;
    z-index: -1;
    transition: all 0.6s ease 0s;
}
.pricingTable .pricingTable-sign-up > .btn-block:after{
    content: "";
    position: absolute;
    bottom:0;
    right:0;
    width: 100%;
    height:0;
    z-index: -1;
    transition: all 0.6s ease 0s;
}
.pricingTable .pricingTable-sign-up > .btn-block:hover{
    z-index: 1;
    color:#fff;
}
.pricingTable .pricingTable-sign-up > .btn-block:hover:before,
.pricingTable .pricingTable-sign-up > .btn-block:hover:after{
    background: #ed687c;
    height:50%;
}
@media screen and (max-width: 990px){
    .pricingTable{
        margin-bottom: 20px;
    }
}

.pricingTable .thumbnail img
{

    background-size: cover;
    width: 400px;
    height: 200px;
}

.pricingTable .thumbnail img:hover 
{
        transform: scale(1.2,1.2);
        transition:1s ease;
}





/* --------------------- footer ------------------ */
.footer
{
    text-align: center;
}
.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 100px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #f87678;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #f87678;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}


.footer-distributed .footer-icons a{
    background-color: #f87678;
    color: #000;
    border-radius: 50%;
}
.footer-distributed .footer-icons #facebook:hover{
    background-color: #365899;
    color: #FFF;
    transition :color 1s ease;
  

}

.footer-distributed .footer-icons #twitter:hover{
    background-color: #1da1f2;
    color: #FFF;
     transition :color 1s ease;
}

.footer-distributed .footer-icons #linkedin:hover{
background-color: #0571A6;
    color: #FFF;
     transition :color 1s ease;
    }

    .footer-distributed .footer-icons #github:hover{
background-color: #333;
    color: #FFF;
     transition :color 1s ease;
    }

    .footer-distributed .footer-icons a:hover i
    {
        transform:scale(2,2) rotate(360deg);
        transition:all .8s ease;
        color: #fff;
    }








/*----------------------------- page detail*/
img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; 
  
}
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 81px;
  background: rgba(248, 118, 120, 0);
  padding: 3em;
  line-height: 1.5em; }
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background:#f87678;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: rgba(169, 118, 248, 0.64);
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*# sourceMappingURL=style.css.map */

;
/*--------------------------*/
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
body{
    font-family: 'Quicksand', sans-serif;
}
.gal-container{
  padding: 12px;
}
.gal-item{
  overflow: hidden;
  padding: 3px;
}
.gal-item .box{
  height: 350px;
  overflow: hidden;
}
.box img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  -o-object-fit:cover;
}
.gal-item a:focus{
  outline: none;
}
.gal-item a:after{
  content:"\e003";
  font-family: 'Glyphicons Halflings';
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  right: 3px;
  left: 3px;
  top: 3px;
  bottom: 3px;
  text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
  opacity: 1;
}
.modal-open .gal-container .modal{
  background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
  padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
  outline: none;
}
.modal-open .gal-item button.close span{
  position: relative;
  top: -3px;
  font-weight: lighter;
  text-shadow:none;
}
.gal-container .modal-dialogue{
  width: 80%;
}
.gal-container .description{
  position: relative;
  height: 40px;
  top: -40px;
  padding: 10px 25px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  text-align: left;
}
.gal-container .description h4{
  margin:0px;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}
/* Footer Style */
i.red{
    color:#BC0213;
}
.gal-container{
    padding-top :75px;
    padding-bottom:75px;
}
footer{
    font-family: 'Quicksand', sans-serif;
}
footer a,footer a:hover{
    color: #88C425;
}
 

 /*-------------------- fin page detail */

 /*----------------- espace membres style */
 @import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto Mono");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local('Dosis Light'), local('Dosis-Light'), url(http://fonts.gstatic.com/l/font?kit=RoNoOKoxvxVq4Mi9I4xIReCW9eLPAnScftSvRB4WBxg&skey=a88ea9d907460694) format('woff2');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: local('Dosis Medium'), local('Dosis-Medium'), url(http://fonts.gstatic.com/l/font?kit=Z1ETVwepOmEGkbaFPefd_-CW9eLPAnScftSvRB4WBxg&skey=21884fc543bb1165) format('woff2');
}
body {
  
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif,  Open Sans;
    font-size: 14px;
    line-height: 1.42857;
    height: 350px;
    padding: 0;
    margin: 0;
}

.admin
{
    padding-bottom: 200px;
    padding-top: 90px;
     /*background:url("../img/1.JPG") no-repeat center center;*/
    /*background-size: cover;*/
    /*min-height: 600px;*/
}


@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto Mono");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local('Dosis Light'), local('Dosis-Light'), url(http://fonts.gstatic.com/l/font?kit=RoNoOKoxvxVq4Mi9I4xIReCW9eLPAnScftSvRB4WBxg&skey=a88ea9d907460694) format('woff2');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: local('Dosis Medium'), local('Dosis-Medium'), url(http://fonts.gstatic.com/l/font?kit=Z1ETVwepOmEGkbaFPefd_-CW9eLPAnScftSvRB4WBxg&skey=21884fc543bb1165) format('woff2');
}
body {
  
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif,  Open Sans;
    font-size: 14px;
    line-height: 1.42857;
    height: 350px;
    padding: 0;
    margin: 0;
}
/*****************************/
a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}
.list-group-item:first-child{
  overflow: hidden;
}
/*----------------- fin espace membres style */



/*our teams*/
.section h1{
    font-size:4.5em;
}

.section p{
 font-weight:400;
 font-size:3em;   
}

 .img-quadrata {
       border-radius:50%;
       width:250px;
       height:250px;
}

.section h3{
        font-weight:800;
        color:#f0ad4e;
        font-size:2em;  
}
.section small{
        text-align:center;
        font-size:1.5em; 
        text-decoration:underline;
        color:gray;
}

/*end our teams*/